.before{
  float:left;
  width:33%;
  background-color:orange;
}
.during{
  float:left;
  width:33%;
  background-color:red;
}
.after{
  float:left;
  width:33%;
  background-color:green;
}
img {
  width: 70%;
  height: auto;
}
